.dashboardBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.dashboardTOP{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


@media screen and (min-width: 344px) and (max-width: 699px){

    .dashboardBox{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 10px;
    }
    
    .dashboardTOP{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}