.headerBox{
    width: 100%;
    display: flex;
}

.backButton{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
    cursor: pointer;
}

.backButton .icon{
    width: 30px;
    height: 30px;
}

.backButton span{
    width: auto;
}

.productDetailsBox{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.productDetailsLeftSide{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 100%;
}

.productImagesBox{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    align-items: center;
    gap: 10px;
}

.bigIMGBox{
    position: relative;
    display: flex;
    width: 500px;
    height: 450px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
}

.bigIMGBox img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.smallIMGsBox{
    width: 500px;
    display: grid;
    justify-items: center;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.sImgBox{
    width: 80px;
    height:80px;
    overflow: hidden;
}

.sImgBox img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    opacity: 0.5;
}

.sImgBox.active img{
    opacity: 1;
    border: 2px solid #368049;
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.5);
}

.sImgBox.inactive img{
    opacity: 0.4;
}

.productCodeBox{
    width: 500px;
    height: auto;
    margin-top: 5px;
    font-size: 12px;
    text-align: start;
}

.productDetailsRightSide{
    padding-top: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: left;
    min-width: 0;
    height: 100vh;
    padding-bottom: 30px;
}

.productNameBox{
    margin-top: 27px;
    font-size: 30px;
    font-weight: bold;
    line-height: 0.7;
    font-variant: small-caps;
    margin-bottom: 10px;
}

.productDescriptionBox {
    flex: 2;
    padding: 10px 5px;
    max-width: 100%;
}

.descriptionTableBox {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 100%;
    padding-right: 30px;
}

.productDetailsTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.productDetailsTable tbody{
    width: auto;
    height: auto;
    flex-direction: column;
    gap: 10px;
}

.productDetailsTable tbody tr{
    border-bottom: 1px solid gray;
}

.productDetailsTable td {
    padding: 4px 10px;
    max-width: 300px;
    white-space: normal;
    word-break: keep-all;
    vertical-align: top;
}

.paramValueCell{
    text-align: start;
}

.priceBoxDetails{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: auto;
    align-items: baseline;

}

.priceBoxDetails .priceBoxHeader{
    display: flex;
    font-size: 25px;
    font-weight: 600;
    width: auto;
    padding-right: 50px;
    align-items: center;
    justify-content: center;
}

.priceBox{
    display: flex;
    gap: 20px;
}


.priceBox.onSale{
    flex-direction: row;
    align-items: start;
    text-align: center;
    padding: 15px 10px;
    border-radius: 20px;
    border: 1 solid black;
    align-items: baseline;
}

.defaultProductPrice, .onSaleProductPrice{
    display: flex;
    align-items: center;
    justify-content: center;
}

.priceBox.onSale .defaultPriceBox .defaultProductPrice{
    font-weight: 400;
}

.priceBox.onSale .defaultPriceBox{
    font-size: 13px;
    color: gray;
    width: auto;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    
}

.priceBox.onSale .defaultPriceBox .diagonal-line::after{
    content: "";
    position: absolute;
    top: 70%;
    left: 0px;
    width: 45px;
    height: 2px;
    background-color: red;
    transform: rotate(-15deg);
    transform-origin: center;
}

.priceBox.onSale .onSalePriceBox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: auto;
    height: 100%;
    font-weight: bold;
    color: #368049;   
}

.buttonsBox{
    display: flex;
    width: 100%;
    height: 60px;
    margin-top: 30px;
}

.btnToReserve{
    width: 230px;
    height: 60px;
    background-color: #44A05B;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
}

.productDetailsRow {
    display: flex;
    gap: 20px;
    width: 100%;
}


.popupMessageBox{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 300px;
    height: 150px;
    background-color: #80EF80;
    bottom: 0;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out;

}

@keyframes fadeIn {
    from { opacity: 0; transform: translateX(-100%); }
    to { opacity: 1; transform: translateX(0); }
}

.popupMessageBox::after{
    display: flex;
    position: absolute;
    content: "";
    height: 10px;
    background-color: yellow;
    bottom: 0;
    animation: progressTimer 4s linear forwards;
}

@keyframes progressTimer {
    from { width: 100%; }
    to { width: 0%; }
}

.popupMessageHeader{
    display: flex;
    padding: 5px 10px;
    width: 100%;
    background-color: #4bce4b;
}

.popupMessageHeader h5{
    text-align: start;
}

.popupMessageContent{
    display: flex;
    padding: 5px 10px;
    width: 100%;
}

.closePopupMessage{
    display: flex;
    position: absolute;
    right: 5px;
    top: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    background-color: red;
}



@media screen and (min-width: 340px) and (max-width: 700px){
    .productDetailsBox{
        flex-direction: column;
    }

    .productDetailsLeftSide{
        width: 100%;
        height: auto
    }

    .productImagesBox{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
        gap: 5px;
    }

    .bigIMGBox{
        position: relative;
        display: flex;
        width: 100%;
        height: 450px;
        padding: 5px 5px;
        text-align: center;
        justify-content: center;
        overflow: hidden;
    }

    .bigIMGBox img{
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .bigIMGBox .floatingTag{
        position: absolute;
        top: 10px;
        left: 0px;
    }

    .smallIMGsBox{
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(5, 1fr);
    }

    .sImgBox{
        width: 80px;
        height:80px;
        overflow: hidden;
    }

    .sImgBox img{
        width: 80px;
        height: 80px;
        object-fit: contain;
    }

    .productCodeBox{
        width: 100%;
        height: auto;
        margin-top: 5px;
        margin-left: 10px;
        font-size: 12px;
        text-align: start;
    }

    .productDetailsRow {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .productNameBox{
        margin-top: 27px;
        font-size: 25px;
        font-weight: bold;
        line-height: 0.7;
        font-variant: small-caps;
        margin-bottom: 10px;
    }

    .productDescriptionBox {
        flex: 2;
        padding: 5px 5px;
        max-width: 100%;
        font-size: 13px;
    }

    .descriptionTableBox {
        flex: 1;
        display: flex;
        max-width: 100%;
        padding: 10px 30px;
    }

    .productDetailsTable {
        width: 100%;
        border-collapse: collapse;
        table-layout: auto;
    }

    .productDetailsTable tbody{
        width: auto;
        height: auto;
        flex-direction: column;
        gap: 10px;
    }

    .productDetailsTable tbody tr{
        border-bottom: 1px solid gray;
    }

    .productDetailsTable td {
        padding: 4px 10px;
        max-width: 300px;
        white-space: normal;
        word-break: keep-all;
        vertical-align: top;
    }

    .buttonsBox{
        padding-bottom: 80px;
        width: 100%;
        justify-content: center;
    }

    .priceBoxDetails{
        width: 100%;
        justify-content: center;
        align-items: baseline;
    }

    .priceBox{
        width: auto;
    }

    .priceBox.onSale {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 15px;
        padding: 10px 0;
        align-items: baseline;
    }

    .defaultPriceBox,
    .onSalePriceBox {
        display: flex;
        align-items: center; 
        justify-content: center;
    }

    .priceBox.onSale .defaultProductPrice{
        font-size: 15px;
    }

    .priceBox.onSale .defaultPriceBox .diagonal-line{
        position: relative;
        display: inline-block;
        line-height: 1;
    }

    .priceBox.onSale .defaultPriceBox .diagonal-line::after{
        content: "";
        position: absolute;
        top: 45%;
        left: 0px;
        width: 35px;
        height: 2px;
        background-color: red;
        transform: rotate(-15deg);
        transform-origin: center;
    }

    .priceBox.onSale .onSalePriceBox{
        width: auto;
        height: 100%;
        display: flex;
        align-items: end;
        justify-content: end;
        
    }

}


@media screen and (min-width: 701px) and (max-width: 1455px){
    .productDetailsBox{
        flex-direction: row;
        gap: 20px;
    }

    .productDetailsLeftSide{
        width: 30%;
        height: auto
    }

    .productImagesBox{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
        gap: 5px;
    }

    .bigIMGBox{
        position: relative;
        display: flex;
        width: 100%;
        height: 450px;
        padding: 5px 5px;
        text-align: center;
        justify-content: center;
        overflow: hidden;
    }

    .bigIMGBox img{
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .bigIMGBox .floatingTag{
        position: absolute;
        top: 20px;
        left: 0px;
    }

    .smallIMGsBox{
        width: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
    }

    .sImgBox{
        width: 80px;
        height:80px;
        overflow: hidden;
    }

    .sImgBox img{
        width: 80px;
        height: 80px;
        object-fit: contain;
    }

    .productCodeBox{
        width: 100%;
        height: auto;
        margin-top: 5px;
        margin-left: 10px;
        font-size: 12px;
        text-align: start;
    }

    .productDetailsRow {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .productNameBox{
        margin-top: 27px;
        font-size: 25px;
        font-weight: bold;
        line-height: 0.7;
        font-variant: small-caps;
        margin-bottom: 10px;
    }

    .productDescriptionBox p{
        font-size: 15px;
    }

    .productDescriptionBox {
        flex: 2;
        padding: 5px 5px;
        max-width: 100%;
        font-size: 13px;
    }

    .descriptionTableBox {
        flex: 1;
        display: flex;
        max-width: 100%;
        padding: 10px 70px;
    }

    .productDetailsTable {
        width: 100%;
        border-collapse: collapse;
        table-layout: auto;
    }

    .productDetailsTable tbody{
        width: auto;
        height: auto;
        flex-direction: column;
        gap: 10px;
    }

    .productDetailsTable tbody tr{
        border-bottom: 1px solid gray;
    }

    .productDetailsTable td {
        padding: 4px 10px;
        max-width: 300px;
        white-space: normal;
        word-break: keep-all;
        vertical-align: top;
    }

    .buttonsBox{
        padding-bottom: 80px;
        width: 100%;
        justify-content: center;
    }

    .priceBoxDetails{
        width: 100%;
        justify-content: center;
        align-items: baseline;
    }

    .priceBox{
        width: auto;
    }

    .priceBox.onSale {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 15px;
        padding: 10px 0;
        align-items: baseline;
    }

    .defaultPriceBox,
    .onSalePriceBox {
        display: flex;
        align-items: center; 
        justify-content: center;
    }

    .priceBox.onSale .defaultProductPrice{
        font-size: 15px;
    }

    .priceBox.onSale .defaultPriceBox .diagonal-line{
        position: relative;
        display: inline-block;
        line-height: 1;
    }

    .priceBox.onSale .defaultPriceBox .diagonal-line::after{
        content: "";
        position: absolute;
        top: 45%;
        left: 0px;
        width: 35px;
        height: 2px;
        background-color: red;
        transform: rotate(-15deg);
        transform-origin: center;
    }

    .priceBox.onSale .onSalePriceBox{
        width: auto;
        height: 100%;
        display: flex;
        align-items: end;
        justify-content: end;
        
    }
}
