.visualsBox{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    gap: 20px;
}

.visualsContent{
    display: flex;
    overflow-y: auto;
    padding-right: 10px;
    flex-direction: column;
    gap: 20px;
}

.categoryName{
    width: 100%;
    height: 40px;
    padding: 10px 10px;
}

.rowContainer{
    display: flex;
    width: 100%;
    height: auto;
    gap: 20px;
}