.visualsBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.sectionHeader{
    height: 50px;
    width: 100%;
    border-bottom: 2px solid #ff0444;
    display: flex;
}

.visualsContainerWrapper{
    flex: 1;
    height: 100%;
    overflow-y: scroll;
}

.visualsContent{
    display: flex;
    padding-right: 10px;
    flex-direction: column;
    gap: 20px;
    min-height: 0;
}

.categoryName{
    width: 100%;
    height: 40px;
    padding: 10px 10px;
}

.rowContainer{
    display: flex;
    max-width: 100%;
    height: fit-content;
    gap: 20px;
    overflow: hidden;
}