.reserveCardBox{
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
    padding: 10px 20px;
    border-radius: 15px;
    min-height: 60px;
}

.actionButtonsBox{
    display: flex;
    min-width: 100px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.valueBox{
    display: flex;
    text-align: center;
    align-items: center;
}

.actionBtn{
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionBtn .icon{
    width: 20px;
    height: 20px;
}


.status-new {
  background-color: #F5F5F5;
}

.status-active {
  background-color: #80EF80;
}

.status-canceled {
 background-color: #f9bdbd;
}

.status-complete {
  background-color: lightgoldenrodyellow;
}



@media screen and (min-width: 340px) and (max-width: 600px){
  .reserveCardBox{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    gap: 3px;
    min-height: unset;
  }

  .reserveCardBox .valueBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    word-break: break-all;
  }

  .reserveCardBox .valueBox p{
    margin: 0;
    font-size: 14px;
  }

  .actionButtonsBox.valueBox{
      display: flex;
      width: 100%;
      gap: 10px;
      justify-content: end;
      align-items: end;
  }

  .actionBtn{
      width: 40px;
      height: 40px;
  }

}

@media screen and (min-width: 601px) and (max-width: 1200px){
  .reserveCardBox{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    gap: 3px;
    min-height: unset;
  }

  .reserveCardBox .valueBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    word-break: break-all;
  }

  .reserveCardBox .valueBox p{
    margin: 0;
    font-size: 14px;
  }

  .actionButtonsBox.valueBox{
      display: flex;
      width: 100%;
      gap: 10px;
      justify-content: end;
      align-items: end;
  }

  .actionBtn{
      width: 40px;
      height: 40px;
  }

}