.productsListBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    gap: 10px;
}

.productsList_Buttons{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.product_actionButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px;
    gap: 10px;
    border: 0;
    border-radius: 10px;
    background-color: #F5F5F4;
}

.product_actionButton .icon{
    width: auto;
    font-size: 30px;
}


.productsList{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}