.popUpBox{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.popUpInner{
    width: 50%;
    height: 100%;
    padding: 50px;
    background-color: #ffffff;
}

.formContent{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    color: black;
}

.closeBTN .icon{
    width: auto;
    height: auto;
    font-size: 30px;
}

.closeBTN{
    width: auto;
    height: auto;
    background-color: #f4f4f4;
    padding: 10px;
    display: flex;
    border-radius: 30px;
}