@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.productCardBox{
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    width: 300px;
    height: 450px;
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 13px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    transition: 0.4s;
    background-color: #ffffff;
}

.productCardBox:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, 8px);
}

.cardImage{
    position: relative;
    display: flex;
    width: 100%;
    height: 250px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
}

.cardImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.floatingTag{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80px;
    height: 35px;
    background-color: beige;
    left: 0;
    top: 20px;
    gap: 5px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.floatingTag .icon{
    width: 25px;
    height: 25px;
}

.floatingTag .tagType{
    display: flex;
    width: auto;
    height: 100%;
    font-family: "Bebas Neue", sans-serif;
    align-items: center;
}

.productCardContent{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    height: 100%;
}

.cardTextContent{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    overflow: hidden;
    justify-content: space-between;
}

.cardTitle{
    text-align: start;
    font-size: 25px;
    font-weight: 100;
    width: 100%;
    height: fit-content;
}

.cardDescription{
    flex: 1;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.cardDescription p{
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    color: #555;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.starsBox{
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.starsBox .icon{
    width: 20px;
    height: 20px;
}

.fullStar{
    color: #EA9644;
}

.readMore{
    display: flex;
    width: auto;
    
    align-items: end;
}

.showBTN{
    width: 100%;
    height: 50px;
    text-align: center;
    border: 0;
    padding: 10px;
}